/* head */
.head{
    padding: 25px;
}
.p-pic{
    display: flex;
    justify-content: space-around;
}

.p-pic img{
        width: 35px;
        height: 35px;
        margin-top: 8px
}

.nam h4{
    padding: 15px;
    width: 100%;
}

.add{
    display: flex;
    width: 15%;
    justify-content: space-around;
}

.add i{
    padding-top: 18px;
}


.row{
    display: flex;
    justify-content: space-between;
}
/* 
header{
    height: 80vh;
} */

header ul{
    line-height: 8vh;
}

header ul li{
    margin-left: 30px;
    list-style: none;
}

header ul li a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color:  #50555C;
}



header ul li :hover{
    background-color: #218698;
    color: #fff;
    padding:  10px 30px;
}


